*~
**/build
**.pyc

**/.certora_internal/
**/.certora_recent_jobs.json
**/.zip-output-url.txt
**/log.txt
**/*.log

.vscode/
contracts/vault/0check.py
experiments/logs/logs_verification_tasks/old/
experiments/logs/logs_verification_tasks/verification_tasks_2025-*
!experiments/results/analyze_results.py
experiments/results/backup/*
experiments/results/FINAL/*
experiments/results/old/*
experiments/logs/logs_results/*
contracts/test*
experiments/logs/logs_merged/*
contracts/*/gpt-[45].csv
openai_api_key.txt
openai_api_keyOLD.txt
claude_api_key.txt
experiments/forge_results/*/v*/lib/*
experiments/forge_results/*/v*/out/*
experiments/forge_results/*/v*/README.md
experiments/forge_results/*/v*/foundry.toml
experiments/forge_results/*/v*/cache/*
contracts/lending-protocol/forge/*
experiments/forge_results/*OLD/*
experiments/logs/logs_verification_tasks/*
