*~
**/build
**.pyc

**/.certora_internal/
**/.certora_recent_jobs.json
**/.zip-output-url.txt
**/log.txt
**/llms_results/
**/*.log

.vscode/
contracts/vault/0check.py
scripts/logs_verification_tasks/old/
scripts/logs_verification_tasks/verification_tasks_2025-*
scripts/llms_results/*
scripts/logs_results/*
contracts/test*
scripts/logs_merged/*
contracts/*/gpt-[45].csv
scripts/openai_api_key.txt
scripts/openai_api_keyOLD.txt
scripts/claude_api_key.txt
scripts/forge_results/*/v*/lib/*
scripts/forge_results/*/v*/out/*
scripts/forge_results/*/v*/README.md
scripts/forge_results/*/v*/foundry.toml
scripts/forge_results/*/v*/cache/*
contracts/lending-protocol/forge/*
scripts/forge_results/*OLD/*
scripts/logs_verification_tasks/*
