*~
**/build
**.pyc

**/.certora_internal/
**/.certora_recent_jobs.json
**/.zip-output-url.txt
**/log.txt
results/
**/*.log

.vscode/
contracts/vault/0check.py
logs/logs_verification_tasks/old/
logs/logs_verification_tasks/verification_tasks_2025-*
results/*
logs/logs_results/*
contracts/test*
logs/logs_merged/*
contracts/*/gpt-[45].csv
openai_api_key.txt
openai_api_keyOLD.txt
claude_api_key.txt
forge_results/*/v*/lib/*
forge_results/*/v*/out/*
forge_results/*/v*/README.md
forge_results/*/v*/foundry.toml
forge_results/*/v*/cache/*
contracts/lending-protocol/forge/*
forge_results/*OLD/*
logs/logs_verification_tasks/*
